{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/addpet.css') }}">
{% endblock %}
{% block content %}

<main>
    <div class="container-form">
        <form action="{% if pet %}/edit-pet/{{pet.id}} {% else %}/add-pet {% endif %}" method="POST">

            <h2>Adicionar pet</h2>

            <div class="pet-image">
                <label class="label">
                  <input type="file" />
                  <figure class="pet-figure">
                    <img src="/static/image/addpet.png" class="pet-avatar" alt="avatar">
                    <figcaption class="pet-figcaption">
                      <img src="/static//image/camera-white.png">
                    </figcaption>
                  </figure>
                </label>
            </div>
            <div class="campo">
                <label for="name">Nome</label> <br>
                <input type="text" class="common-input" name="name" placeholder="Insira o nome do seu pet" id="name-pet" required>
            </div>

            <div class="campo">  
                <label for="specie">Espécie </label>
                <select class="common-input" name="specie" id="especie">
                    <option value="selecionar" aria-checked="true">Selecionar</option>
                    <option value="1" {% if pet.species_id==1 %} selected {% endif %} >Cachorro</option>
                    <option value="2" {% if pet.species_id==2 %} selected {% endif %} >Gato</option>
                </select>
            </div>

            <div class="campo">
                <label for="" class="checkbox">Data de nascimento</label> <br>
                <input type="date" id="date" name="birth"class="common-input" required>
            </div>

            <div class="campo"> 
                <label for="genero">Gênero</label>
                <select class="common-input"name="genero" id="genero">
                    <option value="selecionar" aria-checked="true"> Selecionar</option>
                    <option value="femea">Fêmea</option>
                    <option value="macho">Macho</option>
                </select>

            </div>

            <div class="switch-campo">
                <label for="switch-shadow">Castrado</label>
                <input id="switch-shadow" class="switch switch--shadow" type="checkbox"/>
                <label for="switch-shadow"></label>
            </div>

            
            <button class="common-button" type="submit" onsubmit="">{% if pet %} Editar pet{% else %}Adicionar pet{%endif%}</button>    
            

        </form>
    </div>
</main>

{% if pet %}
<script>
    document.getElementById("name-pet").value="{{ pet.name }}";
    let timestamp = Date.parse("{{ pet.birth }}");
    document.getElementsByName("birth").valueOf()[0].valueAsNumber = timestamp;
</script>
{% endif %}
{% endblock %}