.date-time {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.select-pet {
    padding: 2px;
    background-color: white;
    border: 1px solid rgb(158, 157, 157);
    border-radius: 5px;
}
.campo {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
}

.check-servico {
    color: #4A403A;
}


.observacao {
    padding-left: 1em;
    height: 60px;
    margin-bottom: 1em;
    width: 100%;
}

.agendar {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 5px;  
    color:#EFEFEF;
    font-weight: bold;
    background: #A45D5D;
    border-radius: 5px;
    border: none;
}

.agendar:hover {
    background-color: #b67575;
    color: #ffffff;
}

label {
    color: #A45D5D;
}

