.check {
    margin-bottom: 1em;
    margin-top: 2px;  
}


.check-servico {
    color: #4A403A;
}


.observacao {
    padding-left: 1em;
    height: 60px;
    margin-bottom: 1em;
}

.agendar {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 5px;  
    color:#EFEFEF;
    font-weight: bold;
    background: #A45D5D;
    border-radius: 5px;
    border: none;
}

.agendar:hover {
    background-color: #b67575;
    color: #ffffff;
}

label {
    color: #A45D5D;
}

