h1 {
    color: #4A403A;
    font-size: 1.5em;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
}


.container {
    padding: 2%;
    font-size: 1.2em;
    color: #4A403A;
    text-align: center;
}

.contato {
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0.5em;
    justify-content: center;
	align-items: center;
}

li img {
    width: 45px;
    height: 45px;
    margin-bottom: 1em;
}

.social-media {
    font-weight: bold;
    color: #9C525D;
}

.social-media a {
    width: 50px;
    height: 50px;
    padding: 1%;
    color: #9C525D;
    font-size: 2em;
}

.social-media a:hover {
    color: #4A403A;
}