.logo1 {
    width: 150px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


label {
    color: #A45D5D;
}

#email, #password {
    padding-left: 1em;
}

.campo img {
	width: 10px;
	position: absolute;
	left: 10px;
}

.entrar {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 5px;  
    color:#EFEFEF;
    font-weight: bold;
    background: #A45D5D;
    border-radius: 5px;
    border: none;
}

.entrar:hover {
    background-color: #b67575;
    color: #ffffff;
}


.esqueceu-senha {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(74, 64, 58, 0.51);
}

.cadastro {
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin-top: 40px;
    color: rgba(74, 64, 58, 0.616);
}

.cadastre-se {
    font-weight: bold;
    font-size: 14px;
    color: #A45D5D;
}

