body {
    min-height: 100vh;
    min-width: 100vh;

}

body, header {
    font-family: 'Raleway', sans-serif;
    background: #EFEFEF;
}

.header {
    width: 100%;
    height: 4em;
    background: #EFEFEF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

nav img {
    width: 12em;
    align-items: center;
    margin-left: 1em;
}

nav li {
    display: inline;
    padding: 1em;
}

nav a {
    color: #A45D5D;
    font-weight: bold;
    text-decoration: none;
}

.common-input {
  padding: 0.5em;
  background: rgba(255, 192, 105, 0.1);
  border: 1px solid #A45D5D;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin-bottom: 1em;
  margin-top: 5px;
}

.common-button {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-top: 5px;  
  color:#EFEFEF;
  font-weight: bold;
  background: #A45D5D;
  border-radius: 5px;
  border: none;
}

#user-name {
  padding: 1em;
  font-size: 10px;
}

#user-name, #signin {
    color: #A45D5D;
    font-weight: bold;
}

#login {
    padding: 0.5em;
    margin: 1em;
    color:#EFEFEF;
    font-weight: bold;
    background: #A45D5D;
    border-radius: 5px;
    border: none;
}

#login:hover {
    background-color: #b67575;
    color: #ffffff;
}   

nav a:hover {
    text-decoration: underline #FFC069 0.2em;
    text-underline-position: under;
}

footer {
    width: 100%;
    padding: 0.5em;
    height: 35px;
    color: #EFEFEF;
    background: #A45D5D;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.auth {
  display: flex;
  align-items: center;
}

.auth i {
    padding-right: 0.5em;
    font-size: 1em;
}

.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

form {
  color: #4A403A;
  padding: 1em;
  width: 280px;
  height: 80%;
  background: #FFFFFF;
  border: 1px solid #A45D5D;
  border-radius: 5px;
}

form h2 {
  color: #4A403A;
  font-size: 1em;
  text-align: center;
  margin-bottom: 1em;
}


.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-dismissible {
  padding-right: 4rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-primary hr {
  border-top-color: #9fcdff;
}

.alert-primary .alert-link {
  color: #002752;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-warning hr {
  border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
  color: #491217;
}