{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/servicos.css') }}">
{% endblock %}

{% block content %}
<ul class="servicos">
    {% for service in services %}
    <li>
        <div class="card-content">
            <img src="{{ url_for('static', filename='image/'+ service.icon + '.png')}}">
            <h2>{{service.name}}</h2>
        </div>
    </li>
    {% endfor %}
</ul>
<div class="botoes">
    <button class="agendamentos" type="submit"  onclick="location.href = '/appointments';"> Agendamentos <i class="far fa-calendar-alt"></i></button>
{% if current_user.role_id==1 %}
    <button class="agendamentos" type="submit" onclick="location.href = '/add-service';"> Adicionar serviço <i class="fas fa-plus"></i></button>  
{% else %}
    <button class="agendamentos" type="submit" onclick="location.href = '/add-appointments';"> Novo agendamento <i class="fas fa-plus"></i></button>  
{% endif %}
</div>

{% endblock %}