{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/addagendamento.css') }}">
{% endblock %}

{% block content %}
    <div class="container-form">
        <form action="/appointments" method="POST">

            <h2>Agendamento</h2>
            <div class="campo">
                <label for="date" class="checkbox">Data</label> <br>
                <input type="date" name="date" class="data-hora" required>
            </div>
            <div class="campo">
                <label for="horario">Horário</label> <br>
                <input type="time" name="horario" class="data-hora" required>
            </div>
            <div class="check">
                <label for="">Serviços
                </label> <br>
                {% for service in services %}
                <label for="service" class="check-servico"> 
                    <input type="checkbox" name="service-{{service.id}}" value="{{ service.id }}"> {{ service.name }}
                </label><br>
                {% endfor %}
            </div>
            <div class="campo">
                <label for="">Observação</label> <br>
                <input type="text" name="note" class="observacao" placeholder="Insira sua observacao" equired>
            </div>
            <button class="agendar" type="submit" onsubmit="">AGENDAR</button>    
        </form>
    </div>
{% endblock %}