{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/agendamentos.css') }}">
{% endblock %}

{% block content %}
<div class="container-form">
    <div class="cards">
        <div class="card">
            <div class="specie-icon">
                <i class="fa fa-dog" aria-hidden="true"></i>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>21/11/2021</span>
                    </div>
                    <div class="actions">
                        <div class="delete-appointment">
                            <i class="fa fa-trash-alt" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="date">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        <span>15:00</span>
                    </div>
                    <div class="actions">
                        <div class="edit-appointment">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}