<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../static/image/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/fontawesome/css/all.css">

    <title>Petshop</title>
</head>
<body>
    <header>
        <div class="header">
            
            <img src="../static/image/logo.png" alt="">

            <nav>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Agenda</a></li>
                    <li><a href="#">Pets</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
                
            <div class="auth">
                <span id="signin">Cadastre-se</span>
                <button type="button" id="login"> <i class="fas fa-sign-in-alt"></i>ENTRAR </button>
            </div>

        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <span> 
            <p>© 2021 - Todos os direitos reservados</p>
        </span>
    </footer>
</body>
</html>