{% extends "base.html" %}

{% block content %}

<main>
    <div class="container-form">
        <form action="">

            <div class="campo-img">
                <img src="../image/logo1.png" alt="" class="logo1">
            </div>

            <div class="campo">
                <label for="">E-mail</label> <br>
            <input type="email" name="email" placeholder="seuemail@mail.com"  id="email" required>

            </div>

            <div class="campo">
                <label for="">Senha</label> <br>
            <input type="password" name="password" placeholder="********" id="password" required>
            </div>
            
            <button class="entrar" type="submit" onsubmit="">ENTRAR</button>    
            <p class="esqueceu-senha">Esqueceu a senha?</p>

            <p class="cadastro">Não tem uma conta?  <span class="cadastre-se";>  Cadastre-se</span></p>
        </form>
    </div>
</main>

{% endblock %}

