{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="container-form">
    <form action="/login" method="post">

        <div class="campo-img">
            <img src="{{ url_for('static', filename='image/logo1.png') }}" alt="" class="logo1">
        </div>

        <div class="campo">
            <label for="">E-mail</label> <br>
        <input type="email" class="common-input" name="email" placeholder="seuemail@mail.com"  id="email" required>

        </div>

        <div class="campo">
            <label for="">Senha</label> <br>
        <input type="password" class="common-input" name="password" placeholder="********" id="password" required>
        </div>
        
        <button class="entrar" type="submit" onsubmit="">ENTRAR</button>    
        <p class="esqueceu-senha">Esqueceu a senha?</p>

        <p class="cadastro">Não tem uma conta?  <span class="cadastre-se";>  Cadastre-se</span></p>
    </form>
</div>

{% endblock %}

